.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Altura max da tela */
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  width: 40%;
}

.cronometro {
  position: absolute;
  font-family: 'digital-bold', sans-serif;
  font-size: 70px;
  color: red;
}

#relogioDigital {
  z-index: -1;
  position: absolute;
}

.botoes {
  width: 100%;
}

@font-face {
  font-family: 'digital-bold';
  src: url(../../assets/fonts/DS-DIGIB.TTF) format('truetype');
}
